<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:fragment="layout (body)">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    </head>
    <body>
        <div id="header" th:replace="~{layout/header :: header}"></div>
        <div id="body" th:replace="${body}"></div>
        <div id="footer" th:replace="~{layout/footer :: footer}"></div>
        <script th:src="@{/js/common.js}"></script>
    </body>
</html>
