<div th:fragment="header" th:remove="tag">
    <header id="header">
        <div class="inner">
            <h1>
                <a th:href="@{/}">
                    <img th:src="@{/img/logo_white.png}" alt="Transonic Software" />
                </a>
            </h1>
            <div class="content">
            </div>
        </div>
    </header>
</div>
