<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/base :: layout(~{::body/content()})}">
    <body>
        <main>
            <div class="contents_wrap">
                <h1>Posts</h1>
                <div class="edit_wrap">
                    <a th:href="@{/posts/new}" class="btn btn_sub">NEW</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>タイトル</th>
                            <th>投稿者</th>
                            <th class="sm"></th>
                            <th class="sm"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td th:text="${post.id}"></td>
                            <td th:text="${post.title}"></td>
                            <td th:text="${post.writer}"></td>
                            <td>
                                <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn_sm">DETAIL</a>
                            </td>
                            <td>
                                <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="POST">
                                    <button type="submit" class="btn btn_sm btn_accent">DELETE</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>