<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/base :: layout(~{::body/content()})}">
    <body>
        <main>
            <div class="contents_wrap">
                <h1>Posts</h1>
                <div class="edit_wrap">
                    <a th:href="@{/posts/{id}/edit(id=${post.id})}" class="btn btn_sub">EDIT</a>
                </div>
                <h2 th:text="${post.title}" class="title"></h2>
                <div>
                    <p class="writer">投稿者: <span th:text="${post.writer}"></span></p>
                </div>
                <div class="contents">
                    <p th:text="${post.content}"></p>
                </dl>
            </div>
        </main>
    </body>
</html>