@charset "utf-8";

/*  reset.css
---------------------------------------------- */

/*  setting
---------------------------------------------- */
*,
::before,
::after {
	box-sizing: border-box;
	border-style: solid;
	border-width: 0;
}
html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
}
main {
	display: block;
}
p,
table,
iframe,
form,
figure,
dl {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}
a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}
b,
strong {
	font-weight: bolder;
}
small {
	font-size: 80%;
}
img,
iframe {
	vertical-align: bottom;
}

/*  form
---------------------------------------------- */
button,
input,
select,
textarea {
	-webkit-appearance: none;
	appearance: none;
	color: inherit;
	font: inherit;
	background: transparent;
	padding: 0;
	margin: 0;
	outline: 0;
	border-radius: 0;
	text-align: inherit;
}
[type="checkbox"] {
	-webkit-appearance: checkbox;
	appearance: checkbox;
}
[type="radio"] {
	-webkit-appearance: radio;
	appearance: radio;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}
button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
	cursor: default;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
select::-ms-expand {
	display: none;
}
option {
	padding: 0;
}
textarea {
	overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
label[for] {
	cursor: pointer;
}
[contenteditable] {
	outline: none;
}
[hidden] {
	display: none;
}

/*  table
---------------------------------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	vertical-align: top;
	padding: 0;
}
th {
	text-align: left;
	font-weight: bold;
}