/** @format */

@charset "utf-8";

/*  style.css
---------------------------------------------- */

:root {
    --color-primary: #07628f;
    --color-accent: #e63a37;
}
/*  pc
---------------------------------------------- */
/* common */
body {
    font-family: 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS P Gothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', arial, sans-serif, verdana, Helvetica;
    font-weight: 400;
}

main {
    margin-top: 120px;
    font-size: 1.5rem;
    min-height: 74vh;
    display: flex;
    justify-content: center;
}
.sidemenu_wrap {
    width: 20%;
}
.contents_wrap {
    width: 80%;
    padding: 0 20px;
}
section {
    padding: 85px 0;
}

a {
    display: inline;
    color: var(--color-primary)
}
a:visited {
    color: var(--color-primary)
}

svg {
    fill: currentColor;
}
table {
    width: 100%;
}
table thead th {
    background-color: var(--color-primary);
    border-left: 1px solid var(--color-primary);
    color: #fff;
}
table thead th:nth-child(n+2) {
    border-left: 1px solid #fff;
}
table thead th.sm {
    width: 120px;
}
table tbody td {
    border: 1px solid var(--color-primary);
    padding: 3px;
    text-align: center;
}
.inner {
    width: 92%;
    max-width: 1360px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.half {
    width: 50%;
}

.hidden {
    display: none !important;
}

.btn {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    width: 200px;
    padding: 8px;
    border-radius: 0.3rem;
    justify-content: center;
    background-color: var(--color-primary);
    color: #fff !important;
}

.btn:hover {
    opacity: 0.7;
}

.btn_sm {
    width: 120px;
}

.btn_sub {
    background-color: #fff;
    color: var(--color-primary) !important;
    border: 1px solid var(--color-primary);
}
.btn_accent {
    background-color: var(--color-accent) !important;
}
.btn_sub_accent {
    background-color: #fff;
    color: var(--color-accent) !important;
    border: 1px solid var(--color-accent);
}
/* flash */
.flash {
    margin-bottom: 24px;
    padding: 16px;
    text-align: center;
    font-size: 1.6rem;
}

.alert-status {
    background: #81c78480;
    color: #388e3c;
}

.alert-danger {
    background: #e5737380;
    color: #d32f2f;
}
.title {
    border-left: 10px solid var(--color-primary);
    font-size: 2.6rem;
    font-weight: 700;
    padding: 20px;
    margin: 20px 0;
}
.writer {
    text-align: end;
    margin: 20px 0;
}
.contents {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 20px;
}
/* form */
.form_body {
    display: flex;
    font-size: 1.8rem;
    justify-content: start;
    margin: 40px 0;
}

.form_body form {
    width: 100%;
}

.form_body .form_header {
    border-bottom: #0b1f75 1px solid;
    margin: 50px 0;
}

.form_input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form_input label {
    width: 100px;
    margin-right: 25px;
}

.form_input input {
    width: 100%;
}

.form_body .error {
    color: #ff7b95;
    font-weight: 700;
}

.form_body .required::after {
    content: "*";
    color: #ff7b95;
    font-weight: 700;
}
.submit_wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.edit_wrap {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}
.form_input input[type="text"],
.form_input input[type="email"],
.form_input input[type="password"] {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 8px;
}

.form_input input[type="date"] {
    width: 200px;
}

.form_input input[type="radio"] {
    width: 30px;
}

.form_input input[type="checkbox"] {
    width: 30px;
}

.form_input select {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--color-primary);
    border-radius: 0.3rem;
}

.form_input .upload_btn {
    position: relative;
    font-size: 1.2rem;
}

.form_input .upload_btn input[type="file"] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.form_input textarea {
    border: #e7e8eb 1px solid;
    width: 70%;
    height: 120px;
}

.badge {
    border: 2px solid #0b1f75;
    border-radius: 1rem;
    margin: 8px;
    padding: 8px;
    color: #0b1f75;
    font-weight: 700;
}

.badge-success {
    color: #388e3c;
    border-color: #388e3c;
}

.badge-gray {
    color: #9f9f9f;
    border-color: #9f9f9f;
}

/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: #4d4d4d;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    width: 120px;
    margin-top: -10px;
}

#header .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: calc(100% - 190px);
}

/* footer */
#footer {
    padding: 60px 0;
    background-color: #4d4d4d;
}

#footer .inner {
    display: flex;
    gap: 10%;
    color: #fff;
    justify-content: center;
}

#sidemenu {
    background: var(--color-primary);
    overflow: hidden;
    width: 100%;
    max-width: 200px;
}

#sidemenu .menu_list {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#sidemenu .menu_list li {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #fff;
}

#sidemenu .menu_list li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 1px;
    bottom: 0;
    left: -50%;
    background: #e0e2e3;
}

#sidemenu .menu_list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#sidemenu .menu_list li a.active,
#sidemenu .menu_list li a:hover {
    color: #fff;
}