<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/base :: layout(~{::body/content()})}">
    <body>
        <main>
            <div class="contents_wrap">
                <h1>TransoniX</h1>
                <p>
                    Spring Boot サンプルアプリ
                </p>
                <ul>
                    <li>
                        <a th:href="@{/posts}" class="btn">投稿</a>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>